.logo-icon {
  align-self: stretch;
  width: 40.2px;
  position: relative;
  max-height: 100%;
  min-height: 32px;
}
.apexsim-hub1 {
  position: relative;
  line-height: 29px;
  white-space: nowrap;
}
.logo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.faq3,
.plans4 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 41.9px;
}
.faq3 {
  min-width: 32.1px;
}
.item-link25,
.nav-list3 {
  display: flex;
  align-items: center;
}
.item-link25 {
  width: 104.2px;
  position: relative;
  line-height: 135%;
  flex-shrink: 0;
  white-space: nowrap;
}
.nav-list3 {
  margin: 0;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 20px;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #2b2929;
  font-family: Manrope;
}
.how-esims-work1 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 119px;
}
.link6,
.logo-container,
.nav-links1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link6 {
  width: 143px;
  background-color: #022555;
  border: 3px solid #022555;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 11px 9px;
  white-space: nowrap;
}
.logo-container,
.nav-links1 {
  max-width: 100%;
}
.nav-links1 {
  width: 521.1px;
  justify-content: flex-start;
  gap: 64px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: Manrope;
}
.logo-container {
  width: 1680px;
  justify-content: space-between;
  gap: 20px;
}
.header1,
.navbar1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.navbar1 {
  box-shadow: -17px 2px 10px -6px rgba(0, 0, 0, 0.36);
  background-color: #fff;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 24px 20px;
  box-sizing: border-box;
}
.header1 {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  font-size: 24px;
  color: #070707;
  font-family: "Josefin Sans";
}
.your-cart {
  margin: 0;
  width: 678.1px;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.cart-title {
  width: 850px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.view-or-edit {
  width: 849.4px;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.cart-content,
.cart-content-wrapper,
.content {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.cart-content {
  flex: 1;
  background-color: #94c0fb;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 81.5px 20px;
  box-sizing: border-box;
  gap: 16px;
}
.cart-content-wrapper,
.content {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.content {
  flex-direction: column;
  text-align: center;
  font-size: 48px;
  color: #1c1c1c;
  font-family: Inter;
}
@media screen and (max-width: 750px) {
  .nav-list3 {
    display: none;
  }
  .nav-links1 {
    width: 207px;
    gap: 32px;
  }
  .your-cart {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 450px) {
  .nav-links1 {
    gap: 16px;
  }
  .your-cart {
    font-size: 29px;
    line-height: 32px;
  }
}
